<div class="activewell">
    <h2>All Well's Table</h2>

    <table>
      <tr>
        <th>Well Name</th>
        <th>Well Status</th>
        <th>Cluster Name</th>
        <th>Area Name</th>
      </tr>
      <tr>
        <td>RA-084</td>
        <td>Inprogress</td>
        <td>CLS-21</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-089_TestStatus</td>
        <td>Completed</td>
        <td>CLS-21</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-090_TestStatus</td>
        <td>Completed</td>
        <td>CLS-21</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-091_TestStatus</td>
        <td>Completed</td>
        <td>CLS-21</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>RA-121</td>
        <td>Inprogress</td>
        <td>CLS-21</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-089_TestStatus</td>
        <td>Completed</td>
        <td>CLS-17</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-090_TestStatus</td>
        <td>Completed</td>
        <td>CLS-17</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.RUMAITHA-SHANAYEL.M-0221-01_CLS-21.HMI.RA-091_TestStatus</td>
        <td>Completed</td>
        <td>CLS-19</td>
        <td>RUMAITHA-SHANAYEL</td>
      </tr>
      <tr>
        <td>Root.Dubbiyya.M-0217-01_CLS-17.HMI.DY-089_TestStatus</td>
        <td>Completed</td>
        <td>CLS-17</td>
        <td>Dubbiyya</td>
      </tr>
      <tr>
        <td>Dubbiyya.M-0217-01_CLS-17.HMI.DY-090_TestStatus</td>
        <td>Completed</td>
        <td>CLS-17</td>
        <td>Dubbiyya</td>
      </tr>
      <tr>
        <td>Dubbiyya.DY-091_TestStatus</td>
        <td>Completed</td>
        <td>CLS-19</td>
        <td>Dubbiyya</td>
      </tr>
    </table>
    <div class="pageno">
        <span> Page No: 1,2,3,4,5...98,99,100</span>
    </div>
    
</div>

