
.rep-button{
    margin: auto;
    padding: 10px;
    display: flex;
    height: 40px;
    width: 250px;
    margin-top: 20px;
    background-color: rgb(190, 190, 224);
    font-weight: bold;
    color: rgb(6, 6, 6);
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}